#u1421
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1414-4
{
	display: block;
	vertical-align: top;
}

#u836
{
	background-color: #DBDBE2;
}

#u1427-5
{
	background-color: transparent;
	color: #0E0035;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
}

#u1427
{
	text-transform: uppercase;
}


