	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#u1965
	{
		min-height: 468px;
		padding-bottom: 332px;
	}

	#page,#u1965_align_to_page
	{
		max-width: 1200px;
	}

	#u1959
	{
		width: 970px;
		min-height: 136px;
		margin-right: -10000px;
		margin-top: 332px;
		left: 112px;
	}

	#u142-4
	{
		width: 59px;
		margin-right: -10000px;
		margin-top: 41px;
		left: -315px;
	}

	#u142-4:hover
	{
		margin-right: -10000px;
		margin-top: 41px;
		width: 59px;
		left: -315px;
	}

	#u152-4
	{
		width: 87px;
		margin-right: -10000px;
		margin-top: 41px;
		left: -225px;
	}

	#u155-4
	{
		margin-right: -10000px;
		margin-top: 41px;
		left: -107px;
	}

	#u1965-bw
	{
		min-height: 468px;
	}

	#u639-4
	{
		width: 20.5%;
		left: 39.75%;
	}

	#u639-4:hover
	{
		width: 20.5%;
	}

