	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 480px;
		padding-bottom: 20px;
		max-width: 1200px;
	}

	#u1483
	{
		width: 770px;
		min-height: 503px;
		margin-right: -10000px;
		margin-top: 455px;
		left: -383px;
	}

	#pu1542-4
	{
		margin-top: 268px;
		width: 50.84%;
		margin-left: 24.59%;
	}

	#u1561-14
	{
		min-height: 682px;
		margin-top: 577px;
	}

	#u1543-5
	{
		margin-right: -10000px;
		margin-top: 146px;
		width: 42.5%;
		margin-left: 28.75%;
		left: 0px;
	}

	#u142-4
	{
		width: 59px;
		margin-right: -10000px;
		margin-top: 41px;
		left: -315px;
	}

	#u142-4:hover
	{
		margin-right: -10000px;
		margin-top: 41px;
		width: 59px;
		left: -315px;
	}

	#u152-4
	{
		width: 87px;
		margin-right: -10000px;
		margin-top: 41px;
		left: -225px;
	}

	#u155-4
	{
		margin-right: -10000px;
		margin-top: 41px;
		left: -107px;
	}

	#u639-4
	{
		width: 20.5%;
		left: 39.75%;
	}

	#u639-4:hover
	{
		width: 20.5%;
	}

